<app-card class="daily-visitors">
  <app-header>
    <div header-text>Daily Visitors</div>
    <div header-content fxLayout fxLayoutGap="1rem">
      <app-sidenav-button [border]="true">
        <div label fxLayoutAlign="space-between center" fxLayoutGap="10px">
          <div fxLayout fxLayoutAlign="start end" fxLayoutGap="5px">
            <div class="material-icons material-icons-outlined">event</div>
            <div>Month</div>
          </div>
          <div fxLayout="column" fxLayoutGap="-10px">
            <span class="material-icons m-18">arrow_drop_up</span>
            <span class="material-icons m-18">arrow_drop_down</span>
          </div>
        </div>
        <option option val="december">December</option>
        <option option val="january">January</option>
        <option option val="febuary">Febuary</option>
        <option option val="march">March</option>
      </app-sidenav-button>
      <app-sidenav-button [border]="true">
        <div label fxLayoutAlign="space-between end" fxLayoutGap="10px">
          <div fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
            <div class="material-icons material-icons-outlined">date_range</div>
            <div>Year</div>
          </div>
          <div fxLayout="column" fxLayoutGap="-10px">
            <span class="material-icons m-18">arrow_drop_up</span>
            <span class="material-icons m-18">arrow_drop_down</span>
          </div>
        </div>
        <option option val="2019">2019</option>
        <option option val="2018">2018</option>
        <option option val="2017">2017</option>
        <option option val="2016">2016</option>
      </app-sidenav-button>
    </div>
  </app-header>
  <div style="padding: 3rem 0">
    <div fxLayoutAlign="center">
      <div style="width: 95%">
        <canvas
          baseChart
          width="900px"
          height="300px"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="barChartColors"
        >
        </canvas>
      </div>
    </div>
  </div>
</app-card>
