<div fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="stretch">
  <div *ngFor="let i of [0, 1, 2, 3]">
    <div
      class="card"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="1rem"
    >
      <div class="card-title light">
        {{ otherData[i]["title"] | uppercase }}
      </div>
      <div style="font-size: xx-large">{{ otherData[i]["number"] }}</div>
      <div fxLayoutGap="1rem" fxLayoutAlign="center center">
        <div
          [class]="
            lineChartData[i][0]['data'][lineChartData[i].length] >
            lineChartData[i][0]['data'][0]
              ? 'positive-growth'
              : 'negative-growth'
          "
        >
          {{ otherData[i]["percent"] }}
        </div>
        <div
          [class]="
            lineChartData[i][0]['data'][lineChartData[i].length] >
            lineChartData[i][0]['data'][0]
              ? 'positive-growth border material-icons'
              : 'negative-growth border material-icons'
          "
        >
          {{
            lineChartData[i][0]["data"][lineChartData[i].length] >
            lineChartData[i][0]["data"][0]
              ? "trending_up"
              : "trending_down"
          }}
        </div>
      </div>
      <div class="canvas-wrapper">
        <canvas
          baseChart
          width="200px"
          height="100px"
          [datasets]="lineChartData[i]"
          [options]="lineChartOptions"
          [colors]="lineChartColors[i]"
          [chartType]="lineChartType"
        ></canvas>
      </div>
    </div>
  </div>
</div>
