nav {
  background: white;
  width: 240px;
  height: 100vh;
  border-right: 1px solid hsl(225, 33%, 93%);
}

nav div {
  text-align: center;
}

section {
  border-bottom: 1px solid hsl(225, 33%, 93%);
  padding: 1rem 1.2rem;
  width: 100%;
}

.profile-icon {
  position: relative;
}

.profile-icon__settings-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  background: white;
  border-radius: 50%;
  padding: 7px;
  font-size: 18px;
}

.offline,
.online {
  margin-left: 5px;
  font-size: 7px;
}

.online {
  color: #30ad44;
}

.sidenav-links > *:not(div) {
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(225, 33%, 93%);
}

a[sidenav-dropdown-options] {
  padding-left: calc(1rem + 24px);
  padding-top: 1rem;
  cursor: pointer;
}
