.material-icons {
  transition: transform 200ms ease-out;
}
.recently_viewed_text {
  transition: color 200ms ease-out;
}

:host {
  cursor: pointer;
}

:host:hover .material-icons {
  color: hsl(210, 100%, 50%);
  transform: scaleX(1.5);
}
:host:hover .recently_viewed_text {
  color: hsl(210, 100%, 50%);
}
