:host {
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper *::ng-deep {
  cursor: pointer;
}

.wrapper-border {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 0 2px 0 hsl(0, 0%, 80%);
}

.option-group {
  z-index: 1;
  border-radius: 5px;
  border-bottom: 0;
  position: absolute;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  box-shadow: 0 0px 4px 0px hsl(0, 0%, 80%);
}

:host ::ng-deep option {
  word-break: break-all;
  padding: 10px;
  border-bottom: 1px solid hsl(225, 33%, 93%);
  border-left: 1px solid hsl(225, 33%, 93%);
  border-right: 1px solid hsl(225, 33%, 93%);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:host ::ng-deep option:first-of-type {
  border-top: 1px solid hsl(225, 33%, 93%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

:host ::ng-deep option:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
