<nav fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
  <app-header>
    <span header-text class="material-icons material-icons-outlined">home</span>
  </app-header>
  <section class="user-profile" fxLayout="column" fxLayoutGap="1rem">
    <div fxLayoutAlign="center end" class="profile-icon">
      <img
        src="https://placeimg.com/300/300/people"
        class="rounded-image"
        width="40%"
      />
      <span
        class="material-icons material-icons-outlined profile-icon__settings-icon"
        >settings</span
      >
    </div>
    <div class="user-profile__details">
      <div class="bold" fxLayoutAlign="center center">
        Martha Blair
        <span
          [class]="
            isOnline ? 'online material-icons' : 'offline material-icons'
          "
          >circle</span
        >
      </div>
      <div class="light" style="font-size: smaller">Developer</div>
    </div>
  </section>
</nav>
