<div fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="start stretch">
  <app-card fxFlex="noshrink">
    <app-header>
      <div header-text>Most Visited Pages</div>
    </app-header>
    <div class="table-wrapper">
      <table fxFlex="grow">
        <thead>
          <tr>
            <th class="light" style="font-weight: 400">
              {{ "Page Name" | uppercase }}
            </th>
            <th class="light" style="font-weight: 400">
              {{ "Visitors" | uppercase }}
            </th>
            <th class="light" style="font-weight: 400">
              {{ "Unique Page Visits" | uppercase }}
            </th>
            <th class="light" style="font-weight: 400">
              {{ "Bounce Rate" | uppercase }}
            </th>
          </tr>
        </thead>
        <tr *ngFor="let row of data; let i = index">
          <td>
            <a
              [href]="row.link"
              target="_blank"
              fxLayoutAlign="space-between center"
              fxLayoutGap="1.5rem"
            >
              <span>{{ row.link }} </span>
              <span class="material-icons">launch</span>
            </a>
          </td>
          <td>
            <span>{{ row.visitors }} </span>
          </td>
          <td>
            <span>{{ row.unique_page_visits }} </span>
          </td>
          <td fxLayoutAlign="center center" fxLayoutGap="1.5rem">
            <span>{{ row.bounce_rate }} </span>
            <div class="canvas-wrapper">
              <canvas
                baseChart
                width="75px"
                height="35px"
                [datasets]="lineChartData[i]"
                [options]="lineChartOptions"
                [colors]="lineChartColors[i]"
                [chartType]="lineChartType"
              ></canvas>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </app-card>

  <app-card fxFlex="grow">
    <app-header>
      <div header-text>Social Media Traffic</div>
    </app-header>
    <div class="table-wrapper">
      <table fxFlex="grow">
        <thead>
          <tr>
            <th
              class="light"
              style="font-weight: 400"
              fxFlex="25"
              fxLayoutAlign="start center"
            >
              {{ "Network" | uppercase }}
            </th>
            <th
              class="light"
              style="font-weight: 400"
              fxFlex="15"
              fxLayoutAlign="start center"
            >
              {{ "Visitors" | uppercase }}
            </th>
            <th fxFlex="grow"></th>
          </tr>
        </thead>
        <tr *ngFor="let row of data2; let i = index">
          <td fxFlex="25" fxLayoutAlign="start center">
            <span>{{ row.network }} </span>
          </td>
          <td fxFlex="15" fxLayoutAlign="start center">
            <span>{{ row.visitors | number: "1.0-0" }} </span>
          </td>
          <td fxFlex="grow" fxLayoutAlign="start center">
            <app-progress-bar
              fxFlex="grow"
              [quantitiy]="(row.visitors / 4000) * 100 + '%'"
            ></app-progress-bar>
          </td>
        </tr>
      </table>
    </div>
  </app-card>
</div>
